<div class=" row col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center align-self-center">

    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
        <img src="../../../assets/napolitana.jpg" class="card-img-top" style="max-width: 300px;max-height: 150px;"
            alt="Card image" />

        <div class="card-block">
            <h4 class="card-title">Napolitana</h4>
            <p class="card-text col-sm-12">Salsa de tomate, queso mozzarella, orégano, alcaparras y aceite de oliva.
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
            </p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
        <img src="../../../assets/margarita.jpg" class="card-img-top" style="max-width: 300px;max-height: 150px;"
            alt="Card image" />

        <div class="card-block">
            <h4 class="card-title">Margarita</h4>
            <p class="card-text col-sm-12">Salsa de tomate, mozzarella, albahaca, orégano y aceite de oliva.
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
            </p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Añadir al carrito</button>
            </div>
        </div>
    </div>

    <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="max-width:319px;">
        <img src="../../../assets/cuatroqueso.jpg" class="card-img-top" style="max-width: 300px;max-height: 150px;"
            alt="Card image" />

        <div class="card-block">
            <h4 class="card-title">Cuatro quesos</h4>
            <p class="card-text col-sm-12">Queso fontina, queso gorgonzola, queso parmesano, queso mozzarella.
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
                jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
            </p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="button">Añadir al carrito</button>
            </div>
        </div>
    </div>
</div>